# Firebase Admin SDK
FIREBASE_PROJECT_ID=wodi-1ffac
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@wodi-1ffac.iam.gserviceaccount.com
